
!
version 12.2
no service pad
service timestamps debug uptime
service timestamps log uptime
service password-encryption
!
hostname PyConJP_C3560C
!
boot-start-marker
boot-end-marker
!
enable secret 5 $1$lEyC$y2.z4.1dmNVAxutEJID740
!
username pyconjp password 7 051B1F0C2E4244194B554543
!
aaa new-model
!
no aaa new-model
clock timezone JST 9
switch 1 provision ws-c2960s-48ts-l
!
!
no ip domain-lookup
ip domain-name pyconjp2021.local
vtp domain Cisco
vtp mode transparent
!
!
!
!
spanning-tree mode pvst
spanning-tree extend system-id
no spanning-tree vlan 1-4094
!
!
!
!
vlan internal allocation policy ascending
!
vlan 1
 name DHCP
!
ip ssh version 2
!
!
interface FastEthernet0
 no ip address
!
interface GigabitEthernet1/0/1
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/2
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/3
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/4
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/5
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/6
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/7
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/8
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/9
 switchport access vlan 1
 switchport mode access
!
interface GigabitEthernet1/0/10
 switchport access vlan 1
 switchport mode access
!
interface Vlan1
 ip address dhcp
!
no ip http server
no ip http secure-server
ip sla enable reaction-alerts
logging trap notifications
snmp-server community php4dot3 RO
snmp-server community fromPyConfromPyCon RO
snmp-server community fromPyCon RO
!
line con 0
line vty 0 4
 login local
 transport input ssh
line vty 5 15
 login local
!
ntp clock-period 22518479
ntp server 210.173.160.57
end
